{% extends 'base.html' %} {% load static %} {% block content %} 
{% load timetags%} 

<div class="col-md-6 mx-auto my-5">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-success">{{story.type.capitalize}}</strong>
        <h3 class="mb-0">{{story.title}}</h3>
        <div class="mb-1 text-muted">{{story.time |convert_timestamp|date:"D d M Y"}}</div>
        <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
        <a href="{{story.url}}" target="_blank" rel="noopener noreferrer" class="stretched-link">Read FullStory</a>
        <p>
            <small class="text-muted">
            Comments: {{story.descendants}} Point: {{story.score}}
            </small>
        </p>
        <blockquote class="blockquote mb-0 align-center">

            <footer class="blockquote-footer text-end">
              By: <cite title="Source Title">{{story.by}}</cite>
            </footer>
          </blockquote>
      </div>
      <div class="col-auto row-auto d-none d-lg-block">
        <svg class="bd-placeholder-img" width="250" height="350" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="35%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
      </div>
    </div>
  </div>

{% endblock content %}